*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #34495e;
    border: none;
}

.btn:focus{
    background-color: #34495e;
    border: none;
    box-shadow: none;
}

.rw-state-selected{
    background-color: #34495e;
}

.modal-content{
    padding:20px;
}

.form-label{
    padding-top: 5px;
}

.rw-calendar{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .styles_hour__EXCif{
    background-color: #70b1fc;
}

.styles_day_title__1y-BE{
    background-color: #007bff
} */

.errormsg{
    color:'red';
    font-size: 15px;
}

.help-modal {
    width: 40vw ;
    max-width: 90vw;
} 